input:focus {
  outline: none;
  background-color: #fffffff5;
}

.search-input {
  background-color: #ffffffe2;
}

.search-input::placeholder {
  font-size: 12px;

}

span.cursor {
  display: inline-block;
  background-color: #ffffff;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ffffff;
  }

  49% {
    background-color: #ffffff;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ffffff;
  }
}



















.mockup-bg {
background-image: url('https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e4d30aed-e0f1-48fa-bfed-2a2c5b0b5657');
background-repeat: no-repeat;
background-position: center;
}
@keyframes gelatine {

0%, 100% {
  transform: scale(1, 1);
}
25% {
  transform: scale(0.9, 1.1);
}
50% {
  transform: scale(1.1, 0.9);
}
75% {
  transform: scale(0.95, 1.05);
}
}