input:focus {
  outline: none;
  background-color: #fffffff5;
}

.search-input {
  background-color: #ffffffe2;
}

.search-input::placeholder {
  font-size: 12px;

}

span.cursor {
  display: inline-block;
  background-color: #ffffff;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ffffff;
  }

  49% {
    background-color: #ffffff;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ffffff;
  }
}